.header{
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    align-items: center;
}

.header img{
    margin-right: 2rem;
}
.header .tagline{
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    margin-left: 10rem;
}
.header .tagline:hover{
    transform: scale(1.15);
    transition: transform 0.5s ease-in-out;
}
@media (max-width: 1550px){
    .tagline{
        display: none;
    }
}
@media(max-width:500px){
    .header{
        height: 7vh;
        max-width: 500px;
        width: 100%;
    }
    .tagline{
        margin: 0;
    }
    .header img{
        margin-right: 0;
    }
}